.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar-dark {
  background-color: #8F3985;
}

.site-footer {
  background-color: #8F3985;
  padding: 20px 0;
  margin-top: 2rem;
}

.btn-primary {
    background-color: #8F3985 !important;
    border-color: #8F3985 !important;
}
.btn-primary:hover {
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.tab.active {
background-color:#8F3985 !important;
border: 0px solid #8F3985 !important;
}

.tab:hover {
  background-color: #0dcaf0 !important;
}

.badge-primary {
    color: #8F3985 !important;
}

pre {
    white-space: pre-wrap;
}

.new-tag {
    position: absolute;
    top: -15px; /* Position above the card top border */
    align-self: center;
    background-color: #8F3985;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.card-image-container {
  width: 18vh;
  height: 180px;          /* fixed height for all images */
  object-fit: cover; 
  /* min-height: 10vh;
  max-height: 30vh; */
  overflow: hidden;
}

.card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  height: 100%;
  min-height: 325px;
  display: flex;
  flex-direction: column;
}

.dropImg {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.img {
  width: '100%'; 
  border-radius: 10;
}

.gif-style {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: center;
}

.gif-container {
  width: 12rem;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .vh {
    height: 90vh;
  }

  .card-image-container img {
    width: 100%;
       height: 100%;
       object-fit: center;
       object-position: center;
  }
}

.scrollable-container {
    overflow-y: auto;
    max-height: 400px; 
}

.scrollable-container::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
    background: #8F3985; /* Track color */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: #770069; /* Thumb color */
    border-radius: 5px; /* Rounded corners for thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #0dcaf0; /* Hover color for thumb */
}

