.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar-dark {
  background-color: #8F3985;
}

.site-footer {
  background-color: #8F3985;
  padding: 20px 0;
  margin-top: 2rem;
}

.btn-primary {
    background-color: #8F3985 !important;
    border-color: #8F3985 !important;
}
.btn-primary:hover {
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.tab.active {
background-color:#8F3985 !important;
border: 0px solid #8F3985 !important;
}

.badge-primary {
    color: #8F3985 !important;
}

.scrollable-container {
    overflow-y: auto;
    max-height: 400px; 
}

.scrollable-container::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
    background: #8F3985; /* Track color */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: #770069; /* Thumb color */
    border-radius: 5px; /* Rounded corners for thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #0dcaf0; /* Hover color for thumb */
}

